/* селектор {
	свойство: значение;
} */
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	background-color: #0A090A;
	color: white;
	font-family: 'Roboto', sans-serif;
	/* задаём фоновую картинку (путь относительно каталога css) */
	background-image: url('../img/main-bg.png');
	/* запрет повтора фоновой картинки */
	background-repeat: no-repeat;
	/* прижимаем к верхнему краю с расположением по середине */
	background-position: top center;
	/* убрали отступы по краям для широких экранов */
	background-size: 100%;
}
.container {
	/* максимальная ширина */
	max-width: 1140px;
	/* выравнивание по середине */
	margin: auto;
}
.header {
	/* раположение элементов в строку друг за другом */
	display: flex;
	/* вырвниваем по центру по вертикали */
	align-items: center;
	/* "разбрасывание" элементов по сторонам */
	justify-content: space-between;
	/* внутренний отступ сверху */
	padding-top: 45px;
	margin-bottom: 30%;
}
.logo {
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
}
.search {
	display: flex;
	align-items: center;
	flex: 0.8;
}
.search-input {
	flex: 1;
	/* фоновый цвет */
	background: rgba(196, 196, 196, 0.5);
	/* скругление */
	border-radius: 5px;
	/* внутренний отступ сверху */
	padding-top: 12px;
	/* внутренний отступ снизу */
	padding-bottom: 12px;
	/* отступы по краям */
	padding-left: 18px;
	padding-right: 18px;
	/* убираем рамку */
	border: none;
	color: #AEAEAE;
	font-size: 14px;
	line-height: 16px;
}
.search-input::-webkit-input-placeholder { /* Chrome */
  color: #AEAEAE;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
  color: #AEAEAE;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
  color: #AEAEAE;
  opacity: 1;
}
.search-input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #AEAEAE;
  opacity: 1;
}
.search-button {
	background-color: transparent;
	border: none;
	padding: 10px 18px;
}
.user {
	display: flex;
	align-items: center;
}
.avatar {
	margin-left: 20px; /* отступ слева - отодвигаем кнопку закладок */
	width: 40px;
	height: 40px;
	/* скругление углов - делаем круглой аватарку */
	border-radius: 50%;
	/* равномерное заполнение всё отведённое картинке пространство */
	object-fit: cover;
}
.title {
	margin: 0; /* сброс отступов */
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	line-height: 64px;
	margin-bottom: 7px;
}
.title-en {
	display: inline-block; /* задали тит строчно-блочный, что бы отработало свойство margin-bottom */
	font-size: 20px;
	line-height: 23px;
	color: #787878;
	margin-bottom: 38px;
}
.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100px;
}
.movie-info {
	display: flex;
	align-items: center;
}
.tag {
	display: inline-block;
	font-size: 16px;
	line-height: 19px;
	color: #333333;
	background: #FFFFFF;
	border-radius: 3px;
	padding: 5px 10px;
	margin-right: 20px;
}
.country {
	font-size: 16px;
	line-height: 19px;
	margin-right: 33px;
}
.play {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	text-decoration: none; /* уюираем подчёркивание с надписи */
}
/* создаём псевдоэлемент, для размещения кнопки перед текстом */
.play:before {
	content: ' ';
	width: 30px;
	height: 30px;
	background-image: url('../img/play.svg');
	background-repeat: no-repeat;
	background-size: 100%; /* размер картинки по размеру блока */
	margin-right: 15px;
}
.more {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	text-decoration: none;
}
.more:after {
	content: '';
	width: 30px;
	height: 30px;
	background-image: url('../img/play.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 15px;
	transform: rotate(90deg); /* повернули на 90градусов*/
}
.content {
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
	border-radius: 3px;
	color: #000000;
	/* padding: 43px 50px; */
	padding: 3% 4%;
}
.short-info {
	margin-right: 3%;
}
.poster {
	display: block;
	/* margin-top: -80px; */
	margin-top: -40%;
	margin-bottom: 20px;
}
.button {
	background: #FF8F27;
	padding: 10px 44px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
	border: none;
}
.actors-title {
	padding-left: 15px;
	font-weight: 900;
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 10px;
}
.actors-list {
	margin: 0;
	list-style: none;
	padding-left: 15px;
	text-decoration: underline; /* добавили подчеркивание для текста */
	line-height: 150%;
}
.full-info {
	flex: 0.97;
}
.bookmark-added {
	vertical-align: middle;
}
.full-content {
	display: flex;
	justify-content: space-between;
}
.tabs-content {
	margin-right: 70px;
	display: none;
}
.visible {
	display: block;
}
.tabs {
	display: flex;
	align-items: center;
	/* margin-bottom: 40px; */
	margin-bottom: 4%;
}
.tabs-item {
	color: #000000;
	text-decoration: none;
	font-size: 18px;
	line-height: 21px;
}
/* Задать всем элементам, кроме последнего */
.tabs-item:not(:last-child) {
	/* margin-right: 40px; */
	margin-right: 4%;
}
.tabs-item-active {
	color: #FF8F27;
}
.text {
	font-size: 16px;
	line-height: 140%;
	margin-top: 0;
}
.subscribe-title {
	font-weight: 900;
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 14px;
	margin-top: 0;
}
.subscribe-form {
	/* display: flex; */
	position: relative;
	margin-bottom: 48px;
}
.subscribe-input {
	width: 100%;
	background: rgba(196, 196, 196, 0.5);
	/* border-top-left-radius: 5px; */
	/* border-bottom-left-radius: 5px; */
	border-radius: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 18px;
	padding-right: 18px;
	border: none;
	height: 40px;
	color: #AEAEAE;
	font-size: 14px;
	line-height: 16px;
}
.subscribe-button {
	position: absolute;
	background: #FF8F27;
	border-radius: 0px 5px 5px 0px;
	border: none;
	height: 40px;
	width: 40px;
	padding: 9px;
	text-align: center;
	/* padding: 11px; */
	top: 0;
	right: 0;
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.tabs-item {
		font-size: 16px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 740px;
	}
	.tabs {
		flex-wrap: wrap; /* Есди элементы не помещаются в одну строку - переносим их */
	}
	.tabs-item {
		flex-basis: 20%; /* задали сколько по ширине будет занимать каждый элемент */
		line-height: 2; /* устанавливаем высоту строки, что бы разделить пункты м/у собой */
	}
	.full-content {
		flex-wrap: wrap;
	}
	.tabs-content {
		margin-bottom: 5%;
	}
	.text {
		font-size: 14px;
	}
	.actors-list {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	body {
		background-size: auto;
	}
	.container {
		max-width: 540px;
	}
	.more {
		display: none;
	}
	.tabs-item {
		flex-basis: 40%;
	}
	.tabs-content {
		margin-right: 0;
	}
}

@media (max-width: 576px) {
	.container {
		width: 90%;
	}
	.header {
		flex-wrap: wrap;
	}
	.search {
		flex-basis: 100%;
		order: 3;
		margin-top: 5%;
	}
	.content {
		flex-wrap: wrap;
	}
	.short-info {
		margin-bottom: 5%;
	}
	.actors-list, .actors-title {
		display: none;
	}
	.movie-info {
		flex-wrap: wrap;
	}
	.play {
		flex-basis: 100%;
		margin-top: 10%;
	}
	.short-info {
		margin-right: 0;
	}
	.button {
		width: 100%;
	}
	.poster {
		margin-top: -20%;
		display: inline-block;
		width: 100%;
	}
}